<!DOCTYPE html>
<html lang="pt-br"
xmlns="http://www.w3.org/1999/xhtml" 
		xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title> Cadastro de Usuário</title>
    <link rel="stylesheet" type="text/css" href="css/cadastro.css" />
    
  

</head>

<body>
<nav class="menu">
	<ul>
		<li><a href="loginAdm">Home</a></li>
		<li><a href="lista">Lista de Visitantes</a></li>
		<li><a href="listauser">Lista de usuários</a></li>
	</ul>

   
</nav>  
    <header></header>
    
    <div class="container">
	<form method="post">
	
		<label>E-mail:</label><input type="text" value="" name="login" placeholder="Informe seu usuário" required="required"/>
		<label>Tipo:</label><select name="cargo" required>
					<option value="Comum">Comum</option>
					<option value="Adm">Adm</option> 
					</select>
        <label>Senha:</label><input type="password" value="" name="senha" placeholder="Informe sua senha" required="required" />
		<button type="submit">Cadastrar</button>
		
		
	</form>
	
	<th:block th:include="mensagemValidacao"></th:block>
	
</div>
    
    
</body>

</html>